<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GestionFarmacia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GestionFarmacia.Properties.Settings>
            <setting name="IVA" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="autor" serializeAs="String">
                <value>Mateo Bonilla</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.0.3</value>
            </setting>
            <setting name="FechaPublicacion" serializeAs="String">
                <value>04/01/2026 07:48:00</value>
            </setting>
            <setting name="contactoSoporte" serializeAs="String">
                <value>mbonilla6094@gmail.com</value>
            </setting>
        </GestionFarmacia.Properties.Settings>
    </applicationSettings>
</configuration>